.customers {
    display:flex;
    justify-content:space-between;
    margin-left: -30px;
    flex-basis: calc((100% - 180px) / 6);
    
    }

    .customers-list {
      margin-left: 30px;
    }

    .customers-link {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 170px;
      height: 92px;
      border: 1px solid var(--primary-icon-solid-color);
      border-radius: 4px;
      transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &:hover,
      &:focus {
        border: 1px solid var(--accent-color);
      }

    }

    .customers-icon  {
      fill: var(--primary-icon-solid-color);
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

      .customers-link:hover &,
      .customers-link:focus & {
        fill:var(--accent-color)
      }

    }

    
    
    