:root {
    --primary-font-family:'Roboto',sans-serif; 
    --secondary-font-family: 'Raleway',sans-serif;
    --primary-text-color:#212121;
    --secondary-text-color:#757575;
    --accent-color:#2196F3;
    --additional-color:#FFFFFF;
    --background-color-hero-footer:#2F303A;
    --rare-color:#000000;
    --primary-text-size:700;
    --secondary-text-size:500;
    --solid:#ECECEC;
    --primary-icon-solid-color:#AFB1B8;
    --cubic-bezier:cubic-bezier(0.4, 0, 0.2, 1)
  }

 